html {
  height: 100%;
  width: 100%;
}
h1{
  font-size: 50px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
/* styles the header 1 with a font size and a font. */
}

.centerAll{
  text-align: center;
  /* class to center all text */
}
img {
  border: 3px solid #000000;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  height: 400px;
}
header {
  margin: auto;
  width: 50%;
  border: 3px solid #000000;
  padding: 10px;
}
ul li{
  margin-left: auto;
  margin-right: auto;

}
hr{
  color: black;
}

header{
  width: 50%;
  background-color: #54646d;
  
}
body{
  background-color: #65aee6;
  
  margin: 30px;
}

.container{
  width : 100%;
  height : 100vh;
  
  
}

a:link {
  color: blue;
  /* styles link to blue */
}

a:visited {
  color: lightblue;
  /* styles visited link to light blue */
}


a:hover {
  color: mediumpurple;
  /* styles link when hovered over to medium purple*/
}


a:active {
  color: darkblue;
  /* styles link when using to dark blue */
}
